<footer>
    
  {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter fa-lg"></i> 
      </a>
  {% endif %}
	&nbsp;	
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github fa-lg"></i> 
    </a>
{% endif %}
	&nbsp;
{% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin fa-lg"></i> 
    </a>
{% endif %}

{% if site.google_plus_username %}

    <a href="https://plus.google.com/{{ site.google_plus_username }}">
      <i class="fa fa-google-plus fa-lg"></i>
    </a>
{% endif %}

{% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook fa-lg"></i> 
    </a>
{% endif %}

</footer>
