<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/blog">Blog</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/travel">Travel Journal</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:leungtszkuk@gmail.com">email</a></li>
        		<li><a href="https://github.com/astro313">github</a></li>
			<li><a href="http://twitter.com/TKDaisyLeung" title="Twitter"><i class="fa fa-twitter"></i></a><li>
                          <a href="https://github.com/digicoop" title="Github"><i class="fa fa-github"></i></a>
			</ul>
		</footer>
	</body>
</html>
